# Universal (OS, Editor, Git)
.git/
.gitignore
.DS_Store
**/.DS_Store
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp
*.log

# Project Specific (Homeup)
.github/
.chezmoiversion
README.md
bootstrap.sh
packages/
