{{- /* ------------------------------------------------------------------ */ -}}
{{- /* Homeup Configuration (Zero-Interaction)                            */ -}}
{{- /* ------------------------------------------------------------------ */ -}}

[update]
    apply = false
    method = "brew"

[diff]
    command = "delta"
    pager = "delta"

[merge]
    command = "nvim"
    args = ["-d", "{{ `{{ .Destination }}` }}", "{{ `{{ .Source }}` }}", "{{ `{{ .Target }}` }}"]