README.md
bootstrap.sh
data/**

{{ if (get . "headless") }}
# Ignore GUI related files in headless mode
Library/**
Applications/**
.config/Code/**
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
# Ignore macOS specific files
Library/**
.config/iterm2/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
# Ignore Linux specific files
.config/systemd/**
{{ end }}

{{ if not (get . "install_security") }}
.gnupg/**
.config/security/**
{{ end }}

{{ if not (get . "install_mise") }}
.config/mise/**
{{ end }}

{{ if not (get . "install_maintenance") }}
.config/topgrade.toml
{{ end }}
